.container{
    padding: 0 16px;
}
#timer{
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    background-color: #B0BEC5;
    padding: 20px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}
#timer h2{
    margin-top: 0;
}
#timer h2 span{
    display: inline-block;
}
#timer > div:nth-child(2){
    background-color: #E1F5FE;
    padding: 10px;
    border-radius: 25px;
}
#timer > div:nth-child(2) span{
    font-size: 3em;
    font-weight: bold;
}
#timer .buttons{
    margin-top: 0.83em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#timer .buttons > div{
    width: 50%;
    text-align: center;
}
#timer .buttons > div > button{
    font-size: 1.5em;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .1s;
}
#timer .buttons > div > button:hover{
    opacity: .7;
}
#timer .buttons > div > button.play{
    background-color: #4CAF50;
}
#timer .buttons > div > button.pause{
    background-color: #FFC107;
}
#timer .buttons > div > button#stop{
    background-color: #F44336;
}
.time-started{
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% {
        -moz-transform: rotate(360deg);
    } 
}
@-webkit-keyframes spin { 
    100% {
        -webkit-transform: rotate(360deg);
    } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}